.TopBar {
  background-color: #222;
  width: 100%;
}
.TopBar__content {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #a6a6a6;
  padding: 25px 0;
}
.TopBar__content {
  display: flex;
  align-items: center;
}
.TopBar__content-net,
.TopBar__content-user {
  display: flex;
  align-items: center;
}
.TopBar__content-name {
  font-weight: normal;
  font-size: 21px;
  line-height: 31px;
  color: #7ddddd;
}

.TopBar__log {
  font-size: 21px;
  line-height: 31px;
  border: none;
  color: #7ddddd;
  border-right: 1px solid #a6a6a6;
  background: none;
  padding-right: 30px;
}
.TopBar__sign {
  border: none;
  background: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 31px;
  color: #7ddddd;
  margin-left: 27px;
}

span {
  color: #fff;
}
@media screen and (max-width: 440px) {
  .TopBar__log {
    padding-right: 15px;
  }
  .TopBar__sign {
    margin-left: 13px;
  }
}
